@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}
 

.toplayer{
    margin: 50px 150px;
    display: flex;
    justify-content: space-between;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
}

.resume {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 5%;
    text-align: right;
    box-sizing: border-box;
    border: 1px solid #0d1321;
    border-radius: 8px;
    padding: 17px 24px;
    cursor: pointer ;
}

.topintro{
    background-image: url(/assets/Hero-bg.png) ;
    background-repeat: repeat;
    background-size: 100% 100%;
    
    text-align: center;
}

.topintroinner{
    padding: 26px 221px 45px 221px ;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quotes{
    margin-top: 32px;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 68px;
    text-align: center;

}

.quotes02{
    margin: 24px 73px ;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    opacity: 0.7;

}



.contact{
    width:244px;
    height: 65px;
    border-radius: 8px;
    padding: 21px 24px;
    cursor: pointer ;
    margin: 32px  ;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: Auto;
    color: #FFFFFF;
    background-color: #0d1321;
    box-sizing: border-box;
    cursor: pointer;
    
}

.blank01{
    height: 74px;
}

.reasons{
    margin-right: 150px;
    margin-left: 150px;

}

.reasonsborder{
    margin: 80px 97px ;
    background-color: #0d132102;
}

.question{
    display: flex;
    justify-content: center;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: Auto;

}

.answer{
    margin-top: 24px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
    
}

.blank02{
    height: 48px;
}

.blank03{
    height: 32px;
}

.blank04{
    height: 32px;
}


.reasonexample{
    margin: 48px;
}

.reason01{
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 99px;
}

.left1{
    display: flex;
    flex-direction: column;
}

.motivation1{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    color: #0d132170;
    
}

.explanation1{
    margin-top: 16px;
    margin-bottom: 32px ;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: #0d1321;
    opacity: 0.7;
}

.right{
    justify-content: flex-end;
}

.reason02{
    margin-top: 80px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.left2{
    justify-content: flex-start;
}

.right2{
    display: flex;
    flex-direction: column;
}
.motivation2{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    color: #0d132170;
}

.explanation2{
    margin-top: 16px;
    margin-bottom: 32px ;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: #0d1321;
    opacity: 0.7;
}


.reason03{
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 133px;
}

.left3{
    display: flex;
    flex-direction: column;
}

.motivation3{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    color: #0d132170;
    
}

.explanation3{
    margin-top: 16px;
    margin-bottom: 32px ;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: #0d1321;
    opacity: 0.7;
}

.right3{
    justify-content: flex-end;
}

.inspiration{
    margin: 90px 150px 90px 150px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.write{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    line-height: auto;
}

.writeup{
    margin: 24px 144px 48px 144px;
    font-family: "Azeret Mono", monospace;
    display: flex;
    justify-content: center;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    color: #0d1321;
    opacity: 0.7;
}




.video{
    display: flex;
    justify-content: center;
    border-width: 10px;
    border-radius: 16px;
    margin-top: 48px;
    box-sizing: border-box;
    border: 2px solid rgba(67, 14, 78, 0.087);
    border-radius: 16px;
    padding: 32px;
}

.btn-learn{
    margin-top: 32px;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: Auto;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    padding: 12px 20px;
    opacity: 0.7;
    cursor: pointer;
}

.t{
    margin: 150px;
}

.ct{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ctargethead{
    margin-right:144px ;
    margin-left: 144px;
    font-family: "Azeret Mono", monospace;
    display: flex;
    justify-content: center;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    line-height: auto;
    color: #0d1321;
}

.ctargets{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24px;
}

.ctarget1, .ctarget2, .ctarget3{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 16px;
    padding: 40px;
}

.ctarget1{
    background-color: rgba(255, 76, 30, 0.05);
}

.ctarget2{
    background-color: rgba(0, 76, 232, 0.05);
}

.ctarget3{
    background-color: rgba(255, 223, 0, 0.05);
}

.targetname{
    margin-top: 24px;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    text-align: left;
    line-height: 36px;
    color: #0d1321;
}

.targetbrief{
    
    margin-top: 24px;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: #0d1321;
    opacity: 0.7;
   
}

.morect{
    display: flex;
    justify-content:left ;
    margin-top: 24px;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    line-height: auto;
    color: #0d1321;
    text-decoration: underline;
    cursor: pointer;
}

.supportbg{
    margin: 49px 150px 80px 80px;
    background-image: url(/assets/handshake.jpg) ;
    background-repeat: repeat;
    background-size: 100% 100%;
    border-radius: 16px;
}

.innersupport{
    padding: 64px 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.sheader{
    margin-right:144px ;
    margin-left: 144px;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    line-height: auto;
    color: #FFFFFF;
}

.swriteup{
    margin-top: 24px;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.7;
}



  
.socials{
    display: flex;
    justify-content:right;
    gap:22%; 

}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
/* footer .ending{
    padding: 150px,32px;
    
} */

.feet{
    background-color: #0d132103;
    display: flex;
    justify-content: space-between;
    margin: 32px 150px;
    
}